html,
body {
  height: 100%;
  width: 100%;
}

/* la taille des inputs a l'interrieur de card */
.big_box {
  width: 70%;
  margin: auto;
}

/*  la couleur de arriére plan */
.bg {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-gradient(linear, left bottom, right top, from(#26294b), to(#6ae2f1));
  background: -webkit-linear-gradient(bottom left, #26294b 0%, #6ae2f1 100%);
  background: -moz-linear-gradient(bottom left, #26294b 0%, #6ae2f1 100%);
  background: -o-linear-gradient(bottom left, #26294b 0%, #6ae2f1 100%);
  background: linear-gradient(to top right, #26294b 0%, #6ae2f1 100%);
}

/* modification d'icone */
.rotate-icone {
  position: relative;
  top: -40px;
  left: 60px;
  transform: rotate(-15deg);
  color: #50b4f1;
}